* {
    user-select: none;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #8e1f8d, #432BC8) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title,
.warning,
.reload button {
    color: whitesmoke;
}

.message,
.title,
.warning,
.reload button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.message {
    color: black;
    font-size: 1.5rem;
}

.termo .row-div,
.keyboard,
.warning,
.final-modal,
.reload {
    display: flex;
}

.termo .row-div,
.warning,
.reload,
.keyboard {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.warning {
    position: absolute;
    top: calc(27% - 1.5rem);
    left: calc(50% - 7rem);
    opacity: 0;
    /* transition: all 3s; */
    width: 14rem;
    height: 3rem;
    text-align: center;
    background-color: #c51e08;
    border-radius: 10px;
}

.final-modal {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 25rem;
    height: 30rem;
    top: calc(50% - 15rem);
    left: calc(50% - 12.5rem);
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 10px 10px 50px black;
    display: none;
    opacity: 0;
}

.final-modal div {
    margin: auto 1.5rem;
}

.final-modal .meaning {
    overflow-y: scroll;
}

.final-modal .reload button {
    background-color: #3016c4;
    border-radius: 10px;
    width: 7rem;
    height: 2.3rem;
    border: none;
    box-shadow: 5px 5px 20px black;
    transition: all 0.5s;
}

.final-modal .reload button:hover {
    background-color: #2e1e8b;
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: 10px 10px 25px black;
}

.final-modal div span {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cell-div {
    width: 8vh;
    height: 8vh;
    border-radius: 5px;
    margin: 2px;
}

.r1 .cell-div {
    background-color: #3016c4;
}

.r0 .cell-div {
    background-color: #0e005a;
}

.r1 .c1 {
    border-bottom: solid #000000 6px;
}

.row-div .cell-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    transition: transform 1s;
}

.keyboard {
    padding: 2%;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    /* margin: 20px auto; */
    width: 100%;
}

td:not(.not-apply) {
    text-transform: uppercase;
    background-color: #0e005a;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    width: 3rem;
    height: 2rem;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td:not(.not-apply):hover {
    background-color: rgb(0, 26, 255);
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .final-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
}